html, body {
   height: 100%;  
}


#container {
    
}
svg {
  
  display: block;
  background-color: white;
     
}

.node {
    fill: red;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

.absolute{
position: absolute;
}

 